@import "../../App.scss";

.header-wrapper {
  h2 {
    color: $th-secondary;
    margin-left: auto;
  }
  border-bottom: 1px solid black;
  background-color: $th-primary;
  height: 6rem;
  align-items: center;
}
